<div class="row">
    <div>
        <h1 class="text-center display-4 my-4">Información del Autor</h1>
    </div>
</div>
<div class="row">
    <div class="col col-sm-12">
        <form action="javascript:void(0)" name="frmbook" id="frmbook" class="col s12">
            <div class="form-group mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white"><i class="bi bi-file-earmark-person"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Codigo del Autor" name="txtlibroid" id="txtlibroid" maxlength="10" />
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white"><i class="bi bi-file-earmark-person"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Fecha de Nacimiento del Autor" name="txttitulo" id="titulo" maxlength="90" />
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white"><i class="bi bi-file-earmark-person"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Nombre del Autor" name="txtnombreautor" id="nombreautor" required maxlength="60" />
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white"><i class="bi bi-file-earmark-person"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Apellido del Autor" name="txtapellidoautor" id="apellidoautor" required maxlength="60" />
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white"><i class="bi bi-file-earmark-person"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Fecha de Nacimiento" name="txtprecio" id="precio" required maxlength="60" />
                </div>
            </div>
            <div class="form-group mb-4">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-primary text-white"><i class="bi bi-file-earmark-person"></i></span>
                    </div>
                    <input type="text" class="form-control" placeholder="Ingrese Fecha de Muerte" name="txtprecio" id="precio" required maxlength="60" />
                </div>
            </div>
            <div class="d-flex justify-content-center">
                <button type="submit" name="mostrar" id="mostrar" class="btn btn-success w-50">Enviar</button>
            </div>
        </form>
    </div>
</div>
