<div style="background-color: #355975;">
  <ul class="nav nav-tabs justify-content-end">
      <li class="nav-item">
          <a class="nav-link btn btn-outline-light" aria-current="page" [routerLink]="['/home']">Catálogo de Libros</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-outline-light" [routerLink]="['/autores']">Lista de Autores</a>
      </li>
      <li class="nav-item">
          <a class="nav-link btn btn-outline-light" [routerLink]="['/wishbook']">Lista de Deseos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link btn btn-outline-light" [routerLink]="['/login']">Log-In</a>
    </li>
    <li class="nav-item">
      <a class="nav-link btn btn-outline-light" (click)="logOut()">Log-Out</a>
  </li>
  </ul>
  <router-outlet></router-outlet>
</div>
