#Diseño {
    width: 600px;
    margin: 0 auto;
    background-color: #805701;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
  }
