#Diseño {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ebe7e0;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 3px solid black;
  }

// Definición de colores
$color1: #44749d;
$color2: #c6d4e1;
$color3: #ffffff;
$color4: #ebe7e0;
$color5: #bdb8ad;

// Estilos generales
body {
    font-family: Arial, sans-serif;
    background-color: $color3;
}

.container {
    margin-top: 2rem;
    padding: 2rem;
    background-color: $color4;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: $color1;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.input-group-text {
    background-color: $color1;
    color: $color3;
}

.form-control {
    background-color: $color3;
    border: 1px solid $color2;
    color: $color1;

    &:focus {
        border-color: $color1;
    }
}

select.form-control {
    background-color: $color3;
    border: 1px solid $color2;
    color: $color1;

    &:focus {
        border-color: $color1;
    }
}

.btn-primary {
    background-color: $color1;
    border: none;

    &:hover {
        background-color: darken($color1, 10%);
    }
}

// Personaliza otros elementos según sea necesario
